:root {
  font-size: 62.5%;
}

body {
  font-size: 1.1rem;
  padding:3.2rem 6.4rem;
}

.app-container {
  display: flex;
  flex-direction: column;
}

input {
  font-size: 1.5rem;
}

button {
  background-color: rgb(233, 233, 233);
  border: none;
  padding: .4rem 1.6rem;
  border-radius: 3px;
  font-size: 1.5rem;
}

.error-message {
  color: red;
}

.curr-weather {
  font-size: 1.8rem;
  display: flex;
  flex-direction: column;
  gap: .8rem;
}

.curr-temp {
  display: flex;
  align-items: center;
  gap: 1.6rem;
}
.temp {
  font-size: 4.8rem;
}
.toggle-metric {
  align-self: flex-end;
}